In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
bd_file = "binge_drinking.csv"
bd_df = pd.read_csv(bd_file)
bd_df.head()

,ID,Year,LocationAbbr,LocationDesc,Class,Topic,Indicator,Response,DataSource,Data_Value_Unit,...,StratificationType,IndicatorId,LocationOrder,ParentStateDisplayOrder,FootnoteType,FootNoteSymbol,FootnoteText,URL,DatasourceAbbr,Agency
0,3377718.0,2018.0,US,"All States, DC and Territories (median) **",Alcohol Consumption,Alcohol Consumption,Adults who have had at least one drink of alco...,Yes,BRFSS,%,...,Overall,DRNKANY5,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,3377451.0,2018.0,UW,All States and DC (median) **,Alcohol Consumption,Alcohol Consumption,Adults who have had at least one drink of alco...,Yes,BRFSS,%,...,Overall,DRNKANY5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,3160454.0,2018.0,AL,Alabama,Alcohol Consumption,Alcohol Consumption,Adults who have had at least one drink of alco...,Yes,BRFSS,%,...,Overall,DRNKANY5,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3164095.0,2018.0,AK,Alaska,Alcohol Consumption,Alcohol Consumption,Adults who have had at least one drink of alco...,Yes,BRFSS,%,...,Overall,DRNKANY5,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
4,3168518.0,2018.0,AZ,Arizona,Alcohol Consumption,Alcohol Consumption,Adults who have had at least one drink of alco...,Yes,BRFSS,%,...,Overall,DRNKANY5,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
bd_df = bd_df[['Year', 'LocationAbbr', 'LocationDesc', 'Topic', 'Response', 'Data_Value_Unit', 'Data_Value_Type', 'Data_Value', 'Sample_Size']].copy()
bd_df.head()

,Year,LocationAbbr,LocationDesc,Topic,Response,Data_Value_Unit,Data_Value_Type,Data_Value,Sample_Size
0,2018.0,US,"All States, DC and Territories (median) **",Alcohol Consumption,Yes,%,Crude Prevalence,53.5,53.0
1,2018.0,UW,All States and DC (median) **,Alcohol Consumption,Yes,%,Crude Prevalence,53.8,51.0
2,2018.0,AL,Alabama,Alcohol Consumption,Yes,%,Crude Prevalence,42.9,2463.0
3,2018.0,AK,Alaska,Alcohol Consumption,Yes,%,Crude Prevalence,54.6,1441.0
4,2018.0,AZ,Arizona,Alcohol Consumption,Yes,%,Crude Prevalence,51.9,3790.0

In [4]:
bd_df = bd_df.rename(columns = {"Year": "year", "LocationAbbr": "location_abbr", "LocationDesc": "location", "Topic": "topic", "Response": "response", "Data_Value_Unit": "value_unit", "Data_Value_Type": "value_type", "Data_Value": "data_value", "Sample_Size": "sample_size"})
bd_df.head()

,year,location_abbr,location,topic,response,value_unit,value_type,data_value,sample_size
0,2018.0,US,"All States, DC and Territories (median) **",Alcohol Consumption,Yes,%,Crude Prevalence,53.5,53.0
1,2018.0,UW,All States and DC (median) **,Alcohol Consumption,Yes,%,Crude Prevalence,53.8,51.0
2,2018.0,AL,Alabama,Alcohol Consumption,Yes,%,Crude Prevalence,42.9,2463.0
3,2018.0,AK,Alaska,Alcohol Consumption,Yes,%,Crude Prevalence,54.6,1441.0
4,2018.0,AZ,Arizona,Alcohol Consumption,Yes,%,Crude Prevalence,51.9,3790.0

In [10]:
import psycopg2
rds_connection_string = "postgres:postgres@localhost:5432/alcohol_consumption_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [11]:
engine.table_names()

['binge_drinking']

In [12]:
bd_df.to_sql(name='binge_drinking', con=engine, if_exists='append', index=False)

In [13]:
pd.read_sql_query('select * from binge_drinking', con=engine).head()

,year,location_abbr,location,topic,response,value_unit,value_type,data_value,sample_size
0,2018.0,US,"All States, DC and Territories (median) **",Alcohol Consumption,Yes,%,Crude Prevalence,53.5,53.0
1,2018.0,UW,All States and DC (median) **,Alcohol Consumption,Yes,%,Crude Prevalence,53.8,51.0
2,2018.0,AL,Alabama,Alcohol Consumption,Yes,%,Crude Prevalence,42.9,2463.0
3,2018.0,AK,Alaska,Alcohol Consumption,Yes,%,Crude Prevalence,54.6,1441.0
4,2018.0,AZ,Arizona,Alcohol Consumption,Yes,%,Crude Prevalence,51.9,3790.0